@import url("whitespace-reset.css");

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  color: #222222;
  background: #ffd505;
}

header {
  width: 900px;
  padding: 30px 0;
  margin: 0 auto 30px auto;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background: #057ec1;
}

header h1 {
  padding: 0 25px;
  font-size: 2.4em;
}

header h1 a {
  text-decoration: none;
  color: #ffffff;
}

main {
  width: 850px;
  padding: 25px;
  margin: 0 auto;
  background: #ececec;
}

main:after {
  display: block;
  clear: both;
  content: "";
}

main h2 {
  padding: 0 0 25px 0;
  font-size: 2em;
}

li {
  float: left;
  width: 23.5%;
  padding: 15px;
  margin: 0 0 2% 2%;
  background: #ffffff;
  box-sizing: border-box;
}

li:nth-of-type(4n+1) {
  margin-left: 0;
}

h3 {
  padding: 0 0 5px 0;
  font-size: 1.2em;
}

figure {
  width: 100%;
  height: 160px;
}

img {
  display: block;
  width: auto;
  height: 140px;
  margin: 0 auto;
}

input[type="checkbox"] { display: none; }
input:checked + figure img {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 2;
  width: 400px;
  height: auto;
  margin: 0 0 0 -200px;
}
input:checked + figure:after {
  content: " ";
    width: 100%;
    display: block;
    height: 100vh;
    background-color: black;
    opacity: .5;
}

label {
  display: block;
  cursor: pointer;
}
