* {
  box-sizing: border-box;
}

body {
  width: 684px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  font-family: sans-serif;
  font-size: 28px;
}

article {
  padding: 10px 15px 15px 15px;
}

header {
  border-bottom: solid;
  border-color: black;
  border-width: 15px;
}

h1 {
font-size: 60px;
margin: 0;
padding: 10px;
}

h2 {
  border-top: 30px solid #000000;
  border-bottom: 1px solid #000000;
  margin: 5px 0 0 0;
  padding: 10px 0 10px 10px;
  font-size: 26px;
}

p {
  padding: 0 0 0 10px;
  margin: 0;
  font-size: 28px;
}

/* Description list in header */

dl {
  padding: 0 0 0 10px;
  margin-bottom: 0;
}

dt {
  display: inline;
  font-weight: 900;
  font-size: 28px;
  padding: 0 0 0 10px;
  text-align: left;
}

dd {
  display: inline;
  margin-left: 0;
  font-size: 28px;
}

header dl {
  display: inline-block;
  width: 50%;
  padding: 5px 0;
  margin: 0;
}

header dl + dl {
  text-align: right;
}

header dl + dl dt {
  font-weight: normal;
}

/* Tables */

table {
  width: 100%;
}


thead th {
  text-align: right;
  padding: 10px 5px 0 0;
}

tbody th {
  width: 100%;
  font-weight: normal;
  border-top: 1px solid black;
  text-align: left;
}

tbody dl {
  margin: 0;
  padding: 5px 5px;
}


th {
  font-size: 26px;
}

tbody td {
  font-weight: 100;
  border-top: 1px solid black;
}


td dt {
  font-weight: normal;
}

td.indent {
  text-indent: 60px;
}


tr td:last-of-type {
  font-weight: 600;
  text-align: right;
  font-size: 26px;
}

tbody + tbody tr:first-of-type td {
    border-top: 15px solid #000000;
}



tfoot td:last-of-type {
  font-size: 26px;
  font-weight: normal;
  text-align: left;
  padding-top: 15px;
  border-top: 1px solid #000000;
}


/* Bottom table */

table + table th {
  border-bottom: 1px solid #000000;
  font-size: 20px;
  font-weight: normal;
}

table + table td {
  font-size: 20px;
  border: none;
}

table + table tr td:last-of-type {
  font-size: 20px;
  font-weight: normal;
}
