
/*Debug layouts
 {
  border: 1px solid rgba(0,0,0,0.3);
}
*/


body {
  background: #3d3d3d;
  font-family: Helvetica, Arial, sans-serif;
  color: #45494d;
}

div {
  display: block;
}

/*Header*/

h1 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 30px;
  text-align: center;
  margin: 0 auto;
  background-image: url("images/logo.png");
  font-size: 68px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 125px;
  margin: 140px 90px;
}

header nav {
  text-align: center;
  padding-bottom: 50px;
}

nav li {
  display: inline;
  text-transform: uppercase;
  padding: 0 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

nav a.active {
  color: #50c3af;
}

/*Main*/

main {
  background: #ffffff;
  padding: 80px 0 90px 40px;
  overflow: hidden;
}

.maincontent {
  width: 65%;
  float: left;
  overflow: hidden;
}

article {
  padding: 0 0 65px 0;
}

article p {
  padding-right: 50px;
  max-width: 660px;
}

h2 {
  font-size: 36px;
  font-weight: normal;
}

p {
  padding: 20px 0;
  line-height: 150%;
  text-align: justify;
}

a {
  color: #50c3af;
  text-decoration: none;
}

/*Buttons*/

.pagination {
  padding: 0 900px 90px 90px;
  display: inline;
}


.button {
  display: inline-block;
  font-size: 14px;
  color: white;
  background: #50c3af;
  padding: 5px 25px;
  border-radius: 20px;
}

.prev {
  background: #d2d5da;
}

.next {
  margin-left: 30px;
}

/*Sidebar*/

#sidebar {
  padding: 40px;
  margin: 90px 100px 90px 100px;
  background: transparent;
  width: 10%;
  background: #f6f7f8;
  overflow: hidden;
  min-width: 220px;
}

#sidebar .block {
  display: block;
  width: auto;
  padding: 20px;
  margin: 0 0 50px 0;
}

#sidebar h3 {
  text-transform: uppercase;
  padding-bottom: 15px;
}

#sidebar p {
  font-size: 14px;
  color: #787b80;
  line-height: 150%;
  text-align: justify;
}

#categories {

}





/*Footer*/

footer {
  color: #7e8287;
  font-size: 12px;
  border-top: 1px solid #7e8287;
  background: #ffffff;
  padding: 15px 0 30px 0;
  clear: both;
}
