
/*Debug layouts
 {
  border: 1px solid rgba(0,0,0,0.3);
}
*/


body {
  font: normal 20px "Avenir", Helvetica, Arial, sans-serif;
  color: #45494d;
}


/*Header*/

body > header {
  background: #3d3d3d;
  padding: 130px 0 50px 0;
}

body > header h1 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 30px;
  text-align: center;
  margin: 0 auto;
  background-image: url("images/logo.png");
  font-size: 68px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 125px;
  margin-bottom: 125px;
}

header nav {
  text-align: center;
  padding-bottom: 50px;
}

nav li {
  display: inline;
  text-transform: uppercase;
  padding: 0 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

nav a.active {
  color: #50c3af;
}

/*Main*/

main {
  max-width: 1000px;
  padding: 80px 0;
  margin: 0 auto;
}

#maincontent {
  width: 65%;
  float: left;
  padding-right: 11.5%;
  margin-bottom: 90px;
}

article {
  padding: 0 0 65px 0;
}


article p {
  padding-right: 50px;
  max-width: 660px;
}

h2 {
  font-size: 36px;
  font-weight: normal;
}

p {
  padding: 20px 0;
  line-height: 150%;
  text-align: justify;
}

a {
  color: #50c3af;
  text-decoration: none;
}

/*Sidebar*/

#sidebar {
  background: #f6f7f8;
  overflow: hidden;
  padding: 35px;
}


#sidebar h3 {
  text-transform: uppercase;
  padding-bottom: 15px;
}

#sidebar p {
  font-size: 14px;
  color: #787b80;
}


#sidebar ul {
  padding: 0 0 105px 20px;
  font-size: 14px;
  list-style: url("images/blt_ul.png");
}

#sidebar li {
  padding: 0 0 5px 0;
  text-transform: uppercase;
}

#sidebar li a {
  color: #787b80;
}

/*Buttons*/

.pagination {
  margin-left: 25px;
}


.button {
  display: inline-block;
  font-size: 14px;
  color: white;
  background: #50c3af;
  padding: 5px 25px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.prev {
  background: #d2d5da;
}

.next {
  margin-left: 30px;
}

/*Comments*/

.profile {
  border-radius: 25px;
  float: left;
  margin-right: 12px;
}

.comments header {
  padding-top: 20px;
}

/*Form*/
input, textarea {
  display: block;
  margin: 10px 0 10px 0;
  padding: 10px 0 15px 15px;
  width: 660px;
}

input:nth-last-of-type(1) {
  width: 90px;
}



/*Footer*/

footer {
  max-width: 1000px;
  color: #7e8287;
  font-size: 12px;
  border-top: 1px solid #7e8287;
  background: #ffffff;
  padding: 15px 0 30px 0;
  clear: both;
  margin: 0 auto;
}

/*Media queries*/

/*Large tablet - ipad*/

@media screen and (max-width: 768px){
  body > header {
    padding: 30px 0 10px 0;
  }

  body > header h1 {
    letter-spacing: 10px;
  }

  header nav {
    padding-bottom: 10px;
  }
}

/*Small tablet*/

@media screen and (max-width: 600px) {
  #maincontent {
    float: none;
    width: auto;
    padding: 0 5px 50px 25px;
  }

#sidebar .block {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
}


/*Mobile*/

@media screen and (max-width: 480px) {
  body > header h1 {
    font-size: 48px;
    margin: 0 30px 40px 30px;
  }

  #maincontent {
    padding-bottom: 0;
  }

  #sidebar {
    padding-top: 0;
  }

  #sidebar .block {
    display: block;
    width: auto;
  }

  #sidebar ul {
    padding-bottom: 30px;
  }
}
